<!-- Start Navigation -->
<div class="header header-transparent change-logo">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand static-logo" href="/"
          ><h3 style="padding-top: 10px; color: white">DhulDhis</h3></a
        >
        <a class="nav-brand fixed-logo" href="/"><b>DhulDhis</b></a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none">
        <ul class="nav-menu">
          <!-- <li class="active"> -->
          <li>
            <a href="/">Home<span class="submenu-indicator"></span></a>
          </li>

          <li>
            <a href="/list">Listings<span class="submenu-indicator"></span></a>
          </li>
        </ul>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li>
            <a href="/submit-property.html" class="text-success"
              ><img
                src="/public/img/submit.svg"
                width="20"
                alt=""
                class="mr-2"
              />Add Property</a
            >
          </li>
          <li class="add-listing light">
            <a
              href="JavaScript:Void(0);"
              data-bs-toggle="modal"
              data-bs-target="#login"
              ><img
                src="/public/img/user-dark.svg"
                width="12"
                alt=""
                class="mr-2"
              />Sign In</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
