<% const m=getMessages() %> <% if(m.danger ){ %>
<div class="alert alert-danger" role="alert"><%= m.danger%></div>
<% }%> <% if(m.success){ %>
<div class="alert alert-success" role="alert"><%= m.success%></div>
<% }%>
 